nav {
  .ufg-logo {
    margin: 0.5rem 1rem;
    height: 2rem;
  }

  .right-col{
    margin: auto 1rem auto auto;
    .user-name{
      color: white;
      margin-right: 0.5rem;
    }
    .logout-btn {
      .logout-btn-icon {
        color: white;
        cursor: pointer;
      }
    }
  }
 
}
