<nav mat-tab-nav-bar back [color]="'white'" [backgroundColor]="'primary'">
  <img class="ufg-logo" src="assets/ufg-logo.svg" />

  <div *ngIf="isLoggedIn$ | async">
    <a
      mat-tab-link
      *ngFor="let link of links"
      [routerLink]="link.path"
      routerLinkActive
      #rla="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [active]="rla.isActive"
    >
      <b>{{ link.label }}</b>
    </a>
  </div>

  <button class="logout-btn" mat-icon-button (click)="logoutUser()" *ngIf="isLoggedIn$ | async">
    <mat-icon class="logout-btn-icon">logout</mat-icon>
  </button>
</nav>
