<div *ngIf="!isLoading">
    <form [formGroup]="ordinanceFormGroup" (ngSubmit)="saveOrdinance()">
        <div class="two-cols">
            <span>
                <h1 *ngIf="this.selectedOrdinanceId != 0">Portaria {{selectedOrdinanceId}}</h1>
                <h1 *ngIf="this.selectedOrdinanceId == 0">Nova Portaria</h1>
            </span>
            <div class="mb-1 two-cols">
                <span></span>
                <button mat-button mat-raised-button class="float-right" color="primary" type="submit">
                    <mat-icon>save</mat-icon>SALVAR
                </button>
            </div>
        </div>

        <div class="one-col">
            <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option [value]="1">TESTE</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="one-col">
            <mat-form-field appearance="fill">
                <mat-label>Assunto</mat-label>
                <textarea matInput type="text" formControlName="summary"></textarea>
            </mat-form-field>
        </div>

        <div class="three-cols">
            <mat-form-field appearance="fill">
                <mat-label>Tema</mat-label>
                <input matInput type="text" formControlName="theme">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Data inicial de vigência</mat-label>
                <input matInput [matDatepicker]="startDatePicker" formControlName="start_date"
                    placeholder="Selecione a data inicial">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Data final de vigência</mat-label>
                <input matInput [matDatepicker]="endDatePicker" formControlName="end_date"
                    placeholder="Selecione a data final">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="three-cols">
            <mat-form-field appearance="fill">
                <mat-label>Data publicação DOU</mat-label>
                <input matInput [matDatepicker]="douDatePicker" formControlName="dou_publication_date"
                    placeholder="Selecione a data publicação DOU">
                <mat-datepicker-toggle matSuffix [for]="douDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #douDatePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Número de processo SEI</mat-label>
                <input matInput type="text" formControlName="sei_process_number">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Número sequencial</mat-label>
                <input matInput type="text" formControlName="sequential_id">
            </mat-form-field>
        </div>

        <div class="one-col">
            <mat-form-field appearance="fill">
                <mat-label>Resumo</mat-label>
                <textarea matInput type="text" formControlName="theme"></textarea>
            </mat-form-field>
        </div>

        <div class="one-col">
            <mat-form-field appearance="fill">
                <mat-label>Texto completo</mat-label>
                <textarea matInput type="text" formControlName="description"></textarea>
            </mat-form-field>
        </div>
    </form>

    <mat-divider></mat-divider>

    <div class="mt-1">
        <div class="two-cols">
            <h1>Referências</h1>
            <div class="mb-1">
                <div class="two-cols">
                    <span></span>
                    <button mat-button mat-raised-button color="accent" type="button">
                        <mat-icon>add</mat-icon>NOVA REFERÊNCIA
                    </button>
                </div>
            </div>
        </div>

        <table mat-table [dataSource]="ordinanceMemberList" class="mat-elevation-z8 w-100">
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Data de ciência</th>
                <td mat-cell *matCellDef="let element">{{ element.date | date: 'dd/MM/yyyy'}}</td>
            </ng-container>

            <ng-container matColumnDef="reference_type">
                <th mat-header-cell *matHeaderCellDef>Tipo de referência</th>
                <td mat-cell *matCellDef="let element">{{ ordinanceMemberReferenceType[element.reference_type] }}</td>
            </ng-container>

            <ng-container matColumnDef="occupation_type">
                <th mat-header-cell *matHeaderCellDef>Tipo de ocupação</th>
                <td mat-cell *matCellDef="let element">{{ ordinanceMemberOccupationType[element.occupation_type] }}</td>
            </ng-container>

            <ng-container matColumnDef="workload">
                <th mat-header-cell *matHeaderCellDef>Carga horaria</th>
                <td mat-cell *matCellDef="let element">{{ element.workload }}</td>
            </ng-container>

            <ng-container matColumnDef="member">
                <th mat-header-cell *matHeaderCellDef>Membro</th>
                <td mat-cell *matCellDef="let element">{{element.member.profile.name}}</td>
            </ng-container>

            <ng-container matColumnDef="admin_unit">
                <th mat-header-cell *matHeaderCellDef>Unidade Administrativa</th>
                <td mat-cell *matCellDef="let element">{{element.member.admin_unit.name}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="ordinanceMembersTableDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: ordinanceMembersTableDisplayedColumns"></tr>
        </table>
    </div>

    <mat-divider></mat-divider>

    <div class="mt-1">
        <div class="two-cols">
            <h1>Citações</h1>
            <div class="mb-1">
                <div class="two-cols">
                    <span></span>
                    <button mat-button mat-raised-button color="accent" type="button">
                        <mat-icon>add</mat-icon>NOVA CITAÇÃO
                    </button>
                </div>
            </div>
        </div>

        <table mat-table [dataSource]="citationList" class="mat-elevation-z8 w-100">
            <ng-container matColumnDef="from_ordinance">
                <th mat-header-cell *matHeaderCellDef>De (Portaria)</th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['../', element.from_ordinance]">
                        {{ element.from_ordinance }}
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="to_ordinance">
                <th mat-header-cell *matHeaderCellDef>Para (Portaria)</th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['../', element.to_ordinance]">
                        {{ element.to_ordinance }}
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Tipo</th>
                <td mat-cell *matCellDef="let element">{{ citationTypeEnum[element.type] }}</td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Descrição</th>
                <td mat-cell *matCellDef="let element">{{ element.description }}</td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="citationsTableDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: citationsTableDisplayedColumns"></tr>
        </table>
    </div>
</div>

<div *ngIf="isLoading" class="loading">
    <mat-spinner></mat-spinner>
</div>