<h1>Portarias</h1>

<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput placeholder="Identificador da portaria" />
</mat-form-field>

<table mat-table [dataSource]="ordinancesList" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="theme">
    <th mat-header-cell *matHeaderCellDef>Tema</th>
    <td mat-cell *matCellDef="let element">{{ element.theme }}</td>
  </ng-container>

  <ng-container matColumnDef="expedition_date">
    <th mat-header-cell *matHeaderCellDef>Expedição</th>
    <td mat-cell *matCellDef="let element">
      {{ element.expedition_date | date: 'dd/MM/yyyy HH:mm:ss' }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
