@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import '~@angular/material/theming';

// TYPOGRAPHY
$custom-typography: mat-typography-config(
  $font-family: 'Lato',
);
@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);

//COLORS
$container-bg: #f8f8f8;
$primary: #2096f3;
$accent: #fabb18;

//GENERAL
html,
body {
  height: 100%;
  margin: 0;
  background-color: $container-bg;
}

.container {
  padding: 1rem;
  background-color: $container-bg;
}

.loading {
  height: calc(100vh - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon {
  vertical-align: center;
  margin-right: 0.5rem;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  height: 5px;
}

.mat-button {
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

mat-divider {
  margin: 1rem 0;
  width: 100%;
}

//CUSTOM CLASSES

.four-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.three-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.two-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.one-col {
  display: grid;
  grid-template-columns: 1fr;
}

.float-right {
  float: right;
}

.w-100 {
  width: 100%;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.conporta-table {
  width: 100%;

  tr {
    cursor: pointer;
  }

  tr:hover {
    background-color: lightgray;
  }
}
