@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import '~@angular/material/theming';

// TYPOGRAPHY
$custom-typography: mat-typography-config(
  $font-family: 'Lato',
);
@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);

//COLORS
$container-bg: #f8f8f8;
$primary: #2096f3;
$accent: #fabb18;

//GENERAL
html,
body {
  height: 100%;
  margin: 0;
}

.container {
  padding: 1rem;
  height: 100%;
  background-color: $container-bg;
}

.spinner {
  height: calc(100vh - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon {
  vertical-align: center;
  margin-right: 0.5rem;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  height: 5px;
}
