<div class="two-cols">
    <h1>Diretrizes</h1>
    <div class="mb-1">
        <div class="two-cols">
            <span></span>
            <button *ngIf="!isAddingDirective && isBoss" mat-button mat-raised-button color="accent" type="button"
                (click)="addDirective()">
                <mat-icon>add</mat-icon>NOVA DIRETRIZ
            </button>
        </div>

        <div class="two-cols">
            <button mat-button mat-raised-button color="warn" type="button" *ngIf="isAddingDirective"
                (click)="cancelNewDirective()">
                <mat-icon>close</mat-icon>CANCELAR
            </button>
            <button mat-button mat-raised-button color="accent" type="button" *ngIf="isAddingDirective"
                (click)="saveNewDirective()">
                <mat-icon>save</mat-icon>SALVAR
            </button>
        </div>
    </div>
</div>


<form *ngIf="isAddingDirective" [formGroup]="directiveFormGroup">
    <div class="three-cols">
        <mat-form-field appearance="fill">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="type">
                <mat-option *ngFor="let entry of directiveTypeSelect" [value]="entry[1]">
                    {{entry[0]}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>URL</mat-label>
            <input matInput type="text" formControlName="directive_url">
        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label>Descrição</mat-label>
            <input matInput type="text" formControlName="description">
        </mat-form-field>
    </div>
</form>

<table *ngIf="!isAddingDirective" mat-table [dataSource]="directiveList" class="mat-elevation-z8 w-100">
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let element">{{ directiveTypeEnum[element.type] }}</td>
    </ng-container>

    <ng-container matColumnDef="directive_url">
        <th mat-header-cell *matHeaderCellDef>URL</th>
        <td mat-cell *matCellDef="let element"><a href="{{ element.directive_url }}">Link</a></td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="directivesTableDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: directivesTableDisplayedColumns"></tr>
</table>